@import 'tailwindcss';

.scrollbar-hide {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.scrollbar-hide::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  display: none;
  background: transparent;
}

@theme {
  --color-base-100: oklch(25% 0.09 281.288);
  --color-base-200: oklch(35% 0.144 278.697);
  --color-base-300: oklch(39% 0.195 277.366);
  --color-base-content: oklch(93% 0.034 272.788);
  --color-primary: oklch(68% 0.162 75.834);
  --color-primary-content: oklch(98% 0.026 102.212);
  --color-secondary: oklch(54% 0.245 262.881);
  --color-secondary-content: oklch(97% 0.014 254.604);
  --color-accent: oklch(51% 0.262 276.966);
  --color-accent-content: oklch(96% 0.018 272.314);
  --color-neutral: oklch(51% 0.262 276.966);
  --color-neutral-content: oklch(96% 0.018 272.314);
  --color-info: oklch(54% 0.245 262.881);
  --color-info-content: oklch(97% 0.014 254.604);
  --color-success: oklch(64% 0.2 131.684);
  --color-success-content: oklch(98% 0.031 120.757);
  --color-warning: oklch(68% 0.162 75.834);
  --color-warning-content: oklch(98% 0.026 102.212);
  --color-error: oklch(59% 0.249 0.584);
  --color-error-content: oklch(97% 0.014 343.198);
}
