@import 'tailwindcss';

.scrollbar-hide {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.scrollbar-hide::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  display: none;
  background: transparent;
}
